interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test
  response:
    body:
      string: '{"id":"oxidian-test","description":"Catalog for oxidian-test workspace","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/aggregate"},{"rel":"aggregations","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/aggregations"},{"rel":"catalogs","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/catalogs"},{"rel":"collections","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"data","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/collections"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/search","method":"GET"},{"rel":"p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes
  response:
    body:
      string: '{"processes": [{"id": "echo", "title": "Echo input", "description":
        "Simply echo the value provided as input", "mutable": false, "version": "2.0.0",
        "metadata": [{"title": "Demo"}], "jobControlOptions": ["sync-execute", "async-execute",
        "dismiss"], "outputTransmission": ["value", "reference"], "links": [{"rel":
        "self", "type": "application/json", "title": "Process Description", "href":
        "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/echo"}],
        "AccessReasoning": "Workspace owns this workflow"}, {"id": "convert-url",
        "title": "convert url app", "description": "Convert URL YAML", "mutable":
        true, "version": "0.1.2", "metadata": [{"role": "https://schema.org/softwareVersion",
        "value": "0.1.2"}], "outputTransmission": ["value", "reference"], "jobControlOptions":
        ["async-execute", "dismiss"], "links": [{"rel": "self", "type": "application/json",
        "title": "Process Description", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url"}],
        "AccessReasoning": "Workspace owns this workflow"}], "links": [{"rel": "self",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
