interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
    response:
      body:
        string:
          "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
          \ \"description\": \"Convert URL YAML\",\n  \"mutable\": true,\n  \"version\":
          \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
          \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
          \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
          \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
          \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
          \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
          \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
          to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
          {\n        \"type\": \"string\"\n      }\n    },\n    \"size\": {\n      \"title\":
          \"the percentage for a resize operation\",\n      \"description\": \"the percentage
          for a resize operation\",\n      \"schema\": {\n        \"type\": \"string\"\n
          \     }\n    },\n    \"url\": {\n      \"title\": \"the image to convert\",\n
          \     \"description\": \"the image to convert\",\n      \"schema\": {\n        \"type\":
          \"string\"\n      }\n    }\n  },\n  \"outputs\": {\n    \"converted_image\":
          {\n      \"title\": \"converted_image\",\n      \"description\": \"None\",\n
          \     \"extended-schema\": {\n        \"oneOf\": [\n          {\n            \"allOf\":
          [\n              {\n                \"$ref\": \"http://zoo-project.org/dl/link.json\"\n
          \             },\n              {\n                \"type\": \"object\",\n
          \               \"properties\": {\n                  \"type\": {\n                    \"enum\":
          [\n                      \"application/json\"\n                    ]\n                  }\n
          \               }\n              }\n            ]\n          },\n          {\n
          \           \"type\": \"object\",\n            \"required\": [\n              \"value\"\n
          \           ],\n            \"properties\": {\n              \"value\": {\n
          \               \"oneOf\": [\n                  {\n                    \"type\":
          \"object\",\n                    \"format\": \"geojson-feature-collection\"\n
          \                 }\n                ]\n              }\n            }\n          }\n
          \       ]\n      },\n      \"schema\": {\n        \"oneOf\": [\n          {\n
          \           \"type\": \"object\",\n            \"format\": \"geojson-feature-collection\"\n
          \         }\n        ]\n      }\n    }\n  }\n}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body:
        '{"executionUnit": {"href": "https://raw.githubusercontent.com/EOEPCA/deployment-guide/caaf6eb539c41ff04c7c2b47a1e01b5b7fa6e87f/deploy/samples/requests/processing/convert-url-app.cwl",
        "type": "application/cwl"}}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes
    response:
      body:
        string:
          "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
          \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
          \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
          \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
          \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
          \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
          \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
          \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
          \   }\n  ]\n}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        location:
          - https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
    response:
      body:
        string:
          "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
          \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
          \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
          \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
          \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
          \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
          \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
          \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
          \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
          to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
          {\n        \"type\": \"string\",\n        \"default\": \"resize\"\n      }\n
          \   },\n    \"size\": {\n      \"title\": \"the percentage for a resize operation\",\n
          \     \"description\": \"the percentage for a resize operation\",\n      \"schema\":
          {\n        \"type\": \"string\",\n        \"default\": \"50%\"\n      }\n
          \   },\n    \"url\": {\n      \"title\": \"the image to convert\",\n      \"description\":
          \"the image to convert\",\n      \"schema\": {\n        \"type\": \"string\",\n
          [...]
[...]
  - request:
      body:
        "cwlVersion: v1.0\n$namespaces:\n  s: https://schema.org/\ns:softwareVersion:
        0.1.2\nschemas:\n  - http://schema.org/version/9.0/schemaorg-current-http.rdf\n$graph:\n
        \ # Workflow entrypoint\n  - class: Workflow\n    id: convert-url\n    label:
        convert url app\n    doc: Convert URL YAML\n    requirements:\n      ResourceRequirement:\n
        \       coresMax: 1\n        ramMax: 1024\n    inputs:\n      fn:\n        label:
        the oper[...]
[...]
  - request:
      body:
        '{"inputs": {"fn": "resize", "url": "https://eoepca.org/media_portal/images/logo6_med.original.png",
        "size": "50%", "workspace": "oxidian-test"}}'
      headers:
        Content-Type:
          - application/json
        Prefer:
          - respond-async
      method: POST
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution
    response:
      body:
        string:
          "{\n  \"progress\": 0,\n  \"id\": \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n
          \ \"jobID\": \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n  \"type\": \"process\",\n
          \ \"processID\": \"convert-url\",\n  \"created\": \"2025-05-30T13:03:07.413Z\",\n
          \ \"started\": \"2025-05-30T13:03:07.413Z\",\n  \"updated\": \"2025-05-30T13:03:07.413Z\",\n
          \ \"status\": \"running\",\n  \"message\": \"ZOO-Kernel accepted to run your
          service!\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
          \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
          \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84\"\n
          \   }\n  ]\n}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
        location:
          - https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84
        preference-applied:
          - respond-async
        x-also-also-powered-by:
          - dru.securityIn
        x-also-powered-by:
          - jwt.securityIn
      status:
        code: 201
        message: Created
  - request:
      body: null
      headers:
      method: GET
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84
    response:
      body:
        string:
          "{\n  \"progress\": 3,\n  \"id\": \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n
          \ \"jobID\": \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n  \"type\": \"process\",\n
          \ \"processID\": \"convert-url\",\n  \"created\": \"2025-05-30T13:03:07.413Z\",\n
          \ \"started\": \"2025-05-30T13:03:07.413Z\",\n  \"updated\": \"2025-05-30T13:03:07.889Z\",\n
          \ \"status\": \"running\",\n  \"message\": \"Inputs downloaded, nested processes
          execution finalized\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
          \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
          \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84\"\n
          \   }\n  ]\n}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: OK
[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84
    response:
      body:
        string:
          "{\n  \"id\": \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n  \"jobID\":
          \"6e1d333e-3d56-11f0-82a8-3a17525c7e84\",\n  \"type\": \"process\",\n  \"processID\":
          \"convert-url\",\n  \"created\": \"2025-05-30T13:03:07.413Z\",\n  \"started\":
          \"2025-05-30T13:03:07.413Z\",\n  \"finished\": \"2025-05-30T13:05:43.120Z\",\n
          \ \"updated\": \"2025-05-30T13:05:42.821Z\",\n  \"status\": \"successful\",\n
          \ \"message\": \"ZOO-Kernel successfully run your service!\",\n  \"links\":
          [\n    {\n      \"title\": \"Status location\",\n      \"rel\": \"monitor\",\n
          \     \"type\": \"application/json\",\n      \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84\"\n
          \   },\n    {\n      \"title\": \"Result location\",\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/results\",\n
          \     \"type\": \"application/json\",\n      \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84/results\"\n
          \   }\n  ]\n}"
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6e1d333e-3d56-11f0-82a8-3a17525c7e84/results
    response:
      body:
        string:
          '{"type": "Collection", "id": "col_6e1d333e-3d56-11f0-82a8-3a17525c7e84",
          "stac_version": "1.0.0", "description": "description", "links": [{"rel": "root",
          "href": "https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/workspaces-eodhp-staging/processing-results/convert-url.json",
          "type": "application/json", "title": "convert-url Outputs Catalog"}, {"rel":
          "item", "href": "https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/workspaces-eodhp-staging/processing-results/convert-url/catalog/col_6e1d333e-3d56-11f0-82a8-3a17525c7e84/logo6_med.original-resize-1748610281.053002547.json",
          "type": "application/json"}, {"rel": "self", "href": "https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/workspaces-eodhp-staging/processing-results/convert-url/catalog/col_6e1d333e-3d56-11f0-82a8-3a17525c7e84.json",
          "type": "application/json"}, {"rel": "parent", "href": "https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/workspaces-eodhp-staging/processing-results/convert-url/catalog.json",
          "type": "application/json"}], "title": "Result Collection for Job 6e1d333e-3d56-11f0-82a8-3a17525c7e84",
          "extent": {"spatial": {"bbox": [[-180, -90, 180, 90]]}, "temporal": {"interval":
          [["2025-05-30T13:04:41.053000Z", "2025-05-30T13:04:41.053000Z"]]}}, "license":
          "proprietary", "keywords": ["eoepca"]}'
      headers:
        Content-Type:
          - application/json;charset=UTF-8
      status:
        code: 200
        message: OK
  - request:
      body: null
      headers:
      method: GET
      uri: https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/workspaces-eodhp-staging/processing-results/convert-url/catalog/col_6e1d333e-3d56-11f0-82a8-3a17525c7e84/logo6_med.original-resize-1748610281.053002547.json
    response:
      body:
        string:
          "{\n  \"type\": \"Feature\",\n  \"stac_version\": \"1.0.0\",\n  \"id\":
          \"logo6_med.original-resize-1748610281.053002547\",\n  \"properties\": {\n
          \   \"created\": \"2025-05-30T13:04:41.053Z\",\n    \"datetime\": \"2025-05-30T13:04:41.053000Z\",\n
          \   \"updated\": \"2025-05-30T13:04:41.053Z\"\n  },\n  \"geometry\": {\n    \"type\":
          \"Polygon\",\n    \"coordinates\": [\n      [\n        [\n          -180,\n
          \         -90\n        ],\n        [\n          -180,\n          90\n        ],\n
          \       [\n          180,\n          90\n        ],\n        [\n          180,\n
          \         -90\n        ],\n        [\n          -180,\n          -90\n        ]\n
          \     ]\n    ]\n  },\n  \"links\": [\n    {\n      \"rel\": \"collection\",\n
          \     \"href\": \"https://oxidian-test.staging.eodatahub-workspaces.org.uk/files/work[...]
