interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/"}, {"rel":
        "alternate", "type": "text/html", "title": "this document", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/index.html"},
        {"rel": "service-desc", "type": "application/vnd.oai.openapi+json;version=3.0",
        "title": "the API definition", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/api"},
        {"rel": "service-doc", "type": "text/html", "title": "the API definition",
        "h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api/processes
  response:
    body:
      string: '{"processes": [{"id": "echo", "title": "Echo input", "description":
        "Simply echo the value provided as input", "mutable": false, "version": "2.0.0",
        "metadata": [{"title": "Demo"}], "jobControlOptions": ["sync-execute", "async-execute",
        "dismiss"], "outputTransmission": ["value", "reference"], "links": [{"rel":
        "self", "type": "application/json", "title": "Process Description", "href":
        "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/processes/echo"}], "AccessReasoning":
        "Workspace owns this workflow"}, {"id": "convert-url", "title": "convert url
        app", "description": "Convert URL YAML", "mutable": true, "version": "0.1.2",
        "metadata": [{"role": "https://schema.org/softwareVersion", "value": "0.1.2"}],
        "outputTransmission": ["value", "reference"], "jobControlOptions": ["async-execute",
        "dismiss"], "links": [{"rel": "self", "type": "application/json", "title":
        "Process Description", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url"}],
        "AccessReasoning": "Workspace owns this workflow"}], "links": [{"rel": "self",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/processes"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
