interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test
  response:
    body:
      string: '{"id":"oxidian-test","description":"Catalog for oxidian-test workspace","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/aggregate"},{"rel":"aggregations","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/aggregations"},{"rel":"catalogs","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/catalogs"},{"rel":"collections","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"data","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/collections"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/search","method":"GET"},{"rel":"p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs?limit=10
  response:
    body:
      string: '{"jobs": [{"id": "7cfb88ce-0011-11f0-9e46-925b27b1cd31", "jobID": "7cfb88ce-0011-11f0-9e46-925b27b1cd31",
        "type": "process", "processID": "convert-url", "created": "2025-03-13T13:45:56.251Z",
        "started": "2025-03-13T13:45:56.251Z", "finished": "2025-03-13T13:46:52.674Z",
        "updated": "2025-03-13T13:46:52.466Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/7cfb88ce-0011-11f0-9e46-925b27b1cd31"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalo[...]
