interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs
  response:
    body:
      string: '{"jobs": [{"jobID": "0d8db62c-8f8e-11ef-a7cf-d214b64a073c", "type":
        "process", "processID": "convert-url", "created": "2024-10-21T09:22:54.992Z",
        "started": "2024-10-21T09:22:54.992Z", "finished": "2024-10-21T09:24:52.268Z",
        "updated": "2024-10-21T09:24:51.812Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c/results"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/convert.log",
        "title": "Tool log convert.log",[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c
  response:
    body:
      string: '{"jobID": "0d8db62c-8f8e-11ef-a7cf-d214b64a073c", "type": "process",
        "processID": "convert-url", "created": "2024-10-21T09:22:54.992Z", "started":
        "2024-10-21T09:22:54.992Z", "finished": "2024-10-21T09:24:52.268Z", "updated":
        "2024-10-21T09:24:51.812Z", "status": "successful", "message": "ZOO-Kernel
        successfully run your service!", "links": [{"title": "Status location", "rel":
        "monitor", "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c/results"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/convert.log",
        "title": "Tool log convert.log", "rel": "related", "type": "text/plain"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/node_stage_out.log",
        "title": "Tool log node_stage_out.log", "rel": "related", "type": "text/plain"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs?limit=10
  response:
    body:
      string: '{"jobs": [{"jobID": "12fe1b9e-bcb4-11ef-be28-8ef03814f15e", "type":
        "process", "processID": "convert-url", "created": "2024-12-17T20:18:27.492Z",
        "started": "2024-12-17T20:18:27.492Z", "finished": "2024-12-17T20:19:29.356Z",
        "updated": "2024-12-17T20:19:28.974Z", "status": "successful", "message":
        "ZOO[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs?limit=10&skip=10&limit=10
  response:
    body:
      string: '{"jobs": [{"jobID": "553bacba-c3c6-11ef-a543-8ef03814f15e", "type":
        "process", "processID": "convert-url", "created": "2024-12-26T20:16:47.700Z",
        "started": "2024-12-26T20:16:47.700Z", "finished": "2024-12-26T20:17:48.945Z",
        "updated": "2024-12-26T20:17:48.569Z", "status": "successful", "messa[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/"}, {"rel": "alternate",
        "type": "text/html", "title": "this document", "href": "https://test.eodatahub.org.uk/ade[...]
