interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/"}, {"rel":
        "alternate", "type": "text/html", "title": "this document", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/index.html"},
        {"rel": "service-desc", "type": "application/vnd.oai.openapi+json;version=3.0",
        "title": "the API definition", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/api"},
        {"rel": "service-doc", "type": "text/html", "title": "the API definition",
        "h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api/processes/non-existent-process-id
  response:
    body:
      string: "{\n  \"title\": \"NoSuchProcess\",\n  \"type\": \"http://www.opengis.net/def/rel/ogc/1.0/exception/no-such-process\",\n
        \ \"detail\": \"Unable to parse the ZCFG file: non-existent-process-id.zcfg
        (No message provided)\"\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 404
      message: Not Found
version: 1
