interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL YAML\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\",\n        \"nullable\": true\n      }\n    },\n
        \   \"size\": {\n      \"title\": \"the percentage for a resize operation\",\n
        \     \"description\": \"the percentage for a resize operation\",\n      \"schema\":
        {\n        \"type\": \"string\",\n        \"nullable\": true\n      }\n    },\n
        \   \"url\": {\n      \"title\": \"the image to convert\",\n      \"description\":
        \"the image to convert\",\n      \"schema\": {\n        \"type\": \"string\",\n
        \       \"nullable\": true\n      }\n    }\n  },\n  \"outputs\": {\n    \"converted_image\":
        {\n      \"title\": \"converted_image\",\n      \"description\": \"None\",\n
        \     \"extended-schema\": {\n        \"oneOf\": [\n          {\n            \"allOf\":
        [\n              {\n                \"$ref\": \"http://zoo-project.org/dl/link.json\"\n
        \             },\n              {\n                \"type\": \"object\",\n
        \               \"properties\": {\n                  \"type\": {\n                    \"enum\":
        [\n                      \"application/json\"\n                    ]\n                  }\n
        \               }\n              }\n            ]\n          },\n          {\n
        \           \"type\": \"object\",\n            \"required\": [\n              \"value\"\n
        \           ],\n            \"properties\": {\n              \"value\": {\n
        \               \"oneOf\": [\n                  {\n                    \"type\":
        \"object\"\n                  }\n                ]\n              }\n            }\n
        \         }\n        ]\n      },\n      \"schema\": {\n        \"oneOf\":
        [\n          {\n            \"type\": \"object\"\n          }\n        ]\n
        \     }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionUnit": {"href": "https://raw.githubusercontent.com/EOEPCA/deployment-guide/main/deploy/samples/requests/processing/convert-url-app.cwl",
      "type": "application/cwl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url
    status:
      code: 201
      message: Created
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\",\n        \"default\": \"resize\",\n        \"nullable\":
        true\n      }\n    },\n    \"size\": {\n      \"title\": \"the percentage
        for a resize operation\",\n      \"description\": \"the percentage for a resize
        operation\",\n      \"schema\": {\n        \"type\": \"string\",\n        \"default\":
        \"50%\",\n        \"nullable\": true\n      }\n    },\n    \"url\": {\n      \"title\":
        \"the image to convert\",\n      \"description\": \"the image to convert\",\n
        \     \"s[...]
[...]
- request:
    body: "cwlVersion: v1.0\n$namespaces:\n  s: https://schema.org/\ns:softwareVersion:
      0.1.2\nschemas:\n  - http://schema.org/version/9.0/schemaorg-current-http.rdf\n$graph:\n
      \ # Workflow entrypoint\n  - class: Workflow\n    id: convert-url\n    label:
      convert url app\n    doc: Convert URL YAML\n    requirements:\n      ResourceRequirement:\n
      \       coresMax: 1\n        ramMax: 1024\n    inputs:\n      fn:\n        label:
      the operation to perform\n    [...]
[...]
- request:
    body: '{"inputs": {"fn": "resize", "url": "https://eoepca.org/media_portal/images/logo6_med.original.png",
      "size": "50%", "workspace": "figi44"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - respond-async
    method: POST
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution
  response:
    body:
      string: "{\n  \"jobID\": \"93c8d0fc-9298-11ef-aa4d-c20c1128b306\",\n  \"type\":
        \"process\",\n  \"processID\": \"convert-url\",\n  \"created\": \"2024-10-25T06:15:48.820Z\",\n
        \ \"started\": \"2024-10-25T06:15:48.820Z\",\n  \"updated\": \"2024-10-25T06:15:48.820Z\",\n
        \ \"status\": \"running\",\n  \"message\": \"ZOO-Kernel accepted to run your
        service!\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
        \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
        \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/93c8d0fc-9298-11ef-aa4d-c20c1128b306\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/93c8d0fc-9298-11ef-aa4d-c20c1128b306
      preference-applied:
      - respond-async
      x-also-also-also-powered-by:
      - dru.securityOut
      x-also-also-powered-by:
      - dru.securityIn
      x-also-powered-by:
      - jwt.securityIn
    status:
      code: 201
      message: Created
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/93c8d0fc-9298-11ef-aa4d-c20c1128b306
  response:
    body:
      string: '{"jobID": "93c8d0fc-9298-11ef-aa4d-c20c1128b306", "type": "process",
        "processID": "convert-url", "created": "2024-10-25T06:15:48.820Z", "started":
        "2024-10-25T06:15:48.820Z", "finished": "2024-10-25T06:15:49.522Z", "updated":
        "2024-10-25T06:15:49.087Z", "status": "failed", "message": "ZOO-Kernel accepted
        to run your service!", "links": [{"title": "Status location", "rel": "monitor",
        "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/93c8d0fc-9298-11ef-aa4d-c20c1128b306"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/"}, {"rel": "alternate",
        "type": "text/html", "title": "this document", "href": "https://test.eodatahub.org.uk/ade[...]
