interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs
  response:
    body:
      string: '{"jobs": [{"jobID": "0d8db62c-8f8e-11ef-a7cf-d214b64a073c", "type":
        "process", "processID": "convert-url", "created": "2024-10-21T09:22:54.992Z",
        "started": "2024-10-21T09:22:54.992Z", "finished": "2024-10-21T09:24:52.268Z",
        "updated": "2024-10-21T09:24:51.812Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c/results"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/convert.log",
        "title": "Tool log convert.log",[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c
  response:
    body:
      string: '{"jobID": "0d8db62c-8f8e-11ef-a7cf-d214b64a073c", "type": "process",
        "processID": "convert-url", "created": "2024-10-21T09:22:54.992Z", "started":
        "2024-10-21T09:22:54.992Z", "finished": "2024-10-21T09:24:52.268Z", "updated":
        "2024-10-21T09:24:51.812Z", "status": "successful", "message": "ZOO-Kernel
        successfully run your service!", "links": [{"title": "Status location", "rel":
        "monitor", "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/0d8db62c-8f8e-11ef-a7cf-d214b64a073c/results"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/convert.log",
        "title": "Tool log convert.log", "rel": "related", "type": "text/plain"},
        {"href": "https://test.eodatahub.org.uk/ades/temp/convert-url-0d8db62c-8f8e-11ef-a7cf-d214b64a073c/node_stage_out.log",
        "title": "Tool log node_stage_out.log", "rel": "related", "type": "text/plain"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
