interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL YAML\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\"\n      }\n    },\n    \"size\": {\n      \"title\":
        \"the percentage for a resize operation\",\n      \"description\": \"the percentage
        for a resize operation\",\n      \"schema\": {\n        \"type\": \"string\"\n
        \     }\n    },\n    \"url\": {\n      \"title\": \"the image to convert\",\n
        \     \"description\": \"the image to convert\",\n      \"schema\": {\n        \"type\":
        \"string\"\n      }\n    }\n  },\n  \"outputs\": {\n    \"converted_image\":
        {\n      \"title\": \"converted_image\",\n      \"description\": \"None\",\n
        \     \"extended-schema\": {\n        \"oneOf\": [\n          {\n            \"allOf\":
        [\n              {\n                \"$ref\": \"http://zoo-project.org/dl/link.json\"\n
        \             },\n              {\n                \"type\": \"object\",\n
        \               \"properties\": {\n                  \"type\": {\n                    \"enum\":
        [\n                      \"application/json\"\n                    ]\n                  }\n
        \               }\n              }\n            ]\n          },\n          {\n
        \           \"type\": \"object\",\n            \"required\": [\n              \"value\"\n
        \           ],\n            \"properties\": {\n              \"value\": {\n
        \               \"oneOf\": [\n                  {\n                    \"type\":
        \"object\",\n                    \"format\": \"geojson-feature-collection\"\n
        \                 }\n                ]\n              }\n            }\n          }\n
        \       ]\n      },\n      \"schema\": {\n        \"oneOf\": [\n          {\n
        \           \"type\": \"object\",\n            \"format\": \"geojson-feature-collection\"\n
        \         }\n        ]\n      }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": {"workspace": "oxidian-test"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - respond-async
    method: POST
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution
  response:
    body:
      string: "{\n  \"progress\": 0,\n  \"id\": \"6419c43c-3636-11f0-a09c-ca5f458bf742\",\n
        \ \"jobID\": \"6419c43c-3636-11f0-a09c-ca5f458bf742\",\n  \"type\": \"process\",\n
        \ \"processID\": \"convert-url\",\n  \"created\": \"2025-05-21T11:26:08.714Z\",\n
        \ \"started\": \"2025-05-21T11:26:08.714Z\",\n  \"updated\": \"2025-05-21T11:26:08.714Z\",\n
        \ \"status\": \"running\",\n  \"message\": \"ZOO-Kernel accepted to run your
        service!\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
        \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
        \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6419c43c-3636-11f0-a09c-ca5f458bf742\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6419c43c-3636-11f0-a09c-ca5f458bf742
      preference-applied:
      - respond-async
      x-also-also-powered-by:
      - dru.securityIn
      x-also-powered-by:
      - jwt.securityIn
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/6419c43c-3636-11f0-a09c-ca5f458bf742
  response:
    body:
      string: '{"id": "6419c43c-3636-11f0-a09c-ca5f458bf742", "jobID": "6419c43c-3636-11f0-a09c-ca5f458bf742",
        "status": "dismissed", "message": "ZOO-Kernel successfully dismissed your
        service!", "links": [{"title": "The job list for the current process", "rel":
        "parent", "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs"}],
        "type": "process", "processID": "convert-url", "created": "2025-05-21T11:26:08.714Z",
        "started": "2025-05-21T11:26:08.714Z", "finished": "2025-05-21T11:26:09.213Z",
        "updated": "2025-05-21T11:26:09.137Z"}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
