interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL YAML\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\"\n      }\n    },\n    \"size\": {\n      \"title\":
        \"the percentage for a resize operation\",\n      \"description\": \"the percentage
        for a resize operation\",\n      \"schema\": {\n        \"type\": \"string\"\n
        \     }\n    },\n    \"url\": {\n      \"title\": \"the image to convert\",\n
        \     \"description\": \"the image to convert\",\n      \"schema\": {\n        \"type\":
        \"string\"\n      }\n    }\n  },\n  \"outputs\": {\n    \"converted_image\":
        {\n      \"title\": \"converted_image\",\n      \"description\": \"None\",\n
        \     \"extended-schema\": {\n        \"oneOf\": [\n          {\n            \"allOf\":
        [\n              {\n                \"$ref\": \"http://zoo-project.org/dl/link.json\"\n
        \             },\n              {\n                \"type\": \"object\",\n
        \               \"properties\": {\n                  \"type\": {\n                    \"enum\":
        [\n                      \"application/json\"\n                    ]\n                  }\n
        \               }\n              }\n            ]\n          },\n          {\n
        \           \"type\": \"object\",\n            \"required\": [\n              \"value\"\n
        \           ],\n            \"properties\": {\n              \"value\": {\n
        \               \"oneOf\": [\n                  {\n                    \"type\":
        \"object\",\n                    \"format\": \"geojson-feature-collection\"\n
        \                 }\n                ]\n              }\n            }\n          }\n
        \       ]\n      },\n      \"schema\": {\n        \"oneOf\": [\n          {\n
        \           \"type\": \"object\",\n            \"format\": \"geojson-feature-collection\"\n
        \         }\n        ]\n      }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"executionUnit": {"href": "https://raw.githubusercontent.com/EOEPCA/deployment-guide/caaf6eb539c41ff04c7c2b47a1e01b5b7fa6e87f/deploy/samples/requests/processing/convert-url-app.cwl",
      "type": "application/cwl"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\",\n        \"default\": \"resize\"\n      }\n
        \   },\n    \"size\": {\n      \"title\": \"the percentage for a resize operation\",\n
        \     \"description\": \"the percentage for a resize operation\",\n      \"schema\":
        {\n        \"type\": \"string\",\n        \"default\": \"50%\"\n      }\n
        \   },\n    \"url\": {\n      \"title\": \"the image to convert\",\n      \"description\":
        \"the image to convert\",\n      \"schema\": {\n        \"type\": \"string\",\n
        \       \"de[...]
[...]
- request:
    body: "cwlVersion: v1.0\n$namespaces:\n  s: https://schema.org/\ns:softwareVersion:
      0.1.2\nschemas:\n  - http://schema.org/version/9.0/schemaorg-current-http.rdf\n$graph:\n
      \ # Workflow entrypoint\n  - class: Workflow\n    id: convert-url\n    label:
      convert url app\n    doc: Convert URL YAML\n    requirements:\n      ResourceRequirement:\n
      \       coresMax: 1\n        ramMax: 1024\n    inputs:\n      fn:\n        label:
      the operation to perform\n    [...]
[...]
- request:
    body: '{"inputs": {"fn": "resize", "url": "https://eoepca.org/media_portal/images/logo6_med.original.png",
      "size": "50%", "workspace": "oxidian-test"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - respond-async
    method: POST
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/processes/convert-url/execution
  response:
    body:
      string: "{\n  \"progress\": 0,\n  \"id\": \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n
        \ \"jobID\": \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n  \"type\": \"process\",\n
        \ \"processID\": \"convert-url\",\n  \"created\": \"2025-05-21T11:24:52.139Z\",\n
        \ \"started\": \"2025-05-21T11:24:52.139Z\",\n  \"updated\": \"2025-05-21T11:24:52.139Z\",\n
        \ \"status\": \"running\",\n  \"message\": \"ZOO-Kernel accepted to run your
        service!\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
        \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
        \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742
      preference-applied:
      - respond-async
      x-also-also-powered-by:
      - dru.securityIn
      x-also-powered-by:
      - jwt.securityIn
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742
  response:
    body:
      string: "{\n  \"progress\": 3,\n  \"id\": \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n
        \ \"jobID\": \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n  \"type\": \"process\",\n
        \ \"processID\": \"convert-url\",\n  \"created\": \"2025-05-21T11:24:52.139Z\",\n
        \ \"started\": \"2025-05-21T11:24:52.139Z\",\n  \"updated\": \"2025-05-21T11:24:52.590Z\",\n
        \ \"status\": \"running\",\n  \"message\": \"Inputs downloaded, nested processes
        execution finalized\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
        \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
        \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742
  response:
    body:
      string: "{\n  \"id\": \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n  \"jobID\":
        \"36747234-3636-11f0-8ecc-ca5f458bf742\",\n  \"type\": \"process\",\n  \"processID\":
        \"convert-url\",\n  \"created\": \"2025-05-21T11:24:52.139Z\",\n  \"started\":
        \"2025-05-21T11:24:52.139Z\",\n  \"finished\": \"2025-05-21T11:25:57.836Z\",\n
        \ \"updated\": \"2025-05-21T11:25:57.488Z\",\n  \"status\": \"successful\",\n
        \ \"message\": \"ZOO-Kernel successfully run your service!\",\n  \"links\":
        [\n    {\n      \"title\": \"Status location\",\n      \"rel\": \"monitor\",\n
        \     \"type\": \"application/json\",\n      \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742\"\n
        \   },\n    {\n      \"title\": \"Result location\",\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/results\",\n
        \     \"type\": \"application/json\",\n      \"href\": \"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/36747234-3636-11f0-8ecc-ca5f458bf742/results\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
