interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes
  response:
    body:
      string: '{"processes": [{"id": "display", "title": "Print Cheetah templates
        as HTML", "description": "Print Cheetah templates as HTML.", "mutable": false,
        "version": "2.0.0", "jobControlOptions": ["sync-execute", "async-execute",
        "dismiss"], "outputTransmission": ["value", "reference"], "links": [{"rel":
        "self", "type": "application/json", "title": "Process Description", "href":
        "https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/display"}]},
        {"id": "echo", "title": "Echo input", "description": "Simply echo the value
        provided as input", "mutable": false, "version": "2.0.0", "metadata": [{"title":
        "Demo"}], "jobControlOptions": ["sync-execute", "async-execute", "dismiss"],
        "outputTransmission": ["value", "reference"], "links": [{"rel": "self", "type":
        "application/json", "title": "Process Description", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/echo"}]},
        {"id": "convert-url", "title": "convert url app", "description": "Convert
        URL YAML", "mutable": true, "version": "0.1.2", "metadata": [{"role": "https://schema.org/softwareVersion",
        "value": "0.1.2"}], "outputTransmission": ["value", "reference"], "jobControlOptions":
        ["async-execute", "dismiss"], "links": [{"rel": "self", "type": "application/json",
        "title": "Process Description", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url"}]}],
        "links": [{"rel": "self", "type": "application/json", "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
