interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url
  response:
    body:
      string: "{\n  \"id\": \"convert-url\",\n  \"title\": \"convert url app\",\n
        \ \"description\": \"Convert URL YAML\",\n  \"mutable\": true,\n  \"version\":
        \"0.1.2\",\n  \"metadata\": [\n    {\n      \"role\": \"https://schema.org/softwareVersion\",\n
        \     \"value\": \"0.1.2\"\n    }\n  ],\n  \"outputTransmission\": [\n    \"value\",\n
        \   \"reference\"\n  ],\n  \"jobControlOptions\": [\n    \"async-execute\",\n
        \   \"dismiss\"\n  ],\n  \"links\": [\n    {\n      \"rel\": \"http://www.opengis.net/def/rel/ogc/1.0/execute\",\n
        \     \"type\": \"application/json\",\n      \"title\": \"Execute End Point\",\n
        \     \"href\": \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution\"\n
        \   }\n  ],\n  \"inputs\": {\n    \"fn\": {\n      \"title\": \"the operation
        to perform\",\n      \"description\": \"the operation to perform\",\n      \"schema\":
        {\n        \"type\": \"string\"\n      }\n    },\n    \"size\": {\n      \"title\":
        \"the percentage for a resize operation\",\n      \"description\": \"the percentage
        for a resize operation\",\n      \"schema\": {\n        \"type\": \"string\"\n
        \     }\n    },\n    \"url\": {\n      \"title\": \"the image to convert\",\n
        \     \"description\": \"the image to convert\",\n      \"schema\": {\n        \"type\":
        \"string\"\n      }\n    }\n  },\n  \"outputs\": {\n    \"converted_image\":
        {\n      \"title\": \"converted_image\",\n      \"description\": \"None\",\n
        \     \"extended-schema\": {\n        \"oneOf\": [\n          {\n            \"allOf\":
        [\n              {\n                \"$ref\": \"http://zoo-project.org/dl/link.json\"\n
        \             },\n              {\n                \"type\": \"object\",\n
        \               \"properties\": {\n                  \"type\": {\n                    \"enum\":
        [\n                      \"application/json\"\n                    ]\n                  }\n
        \               }\n              }\n            ]\n          },\n          {\n
        \           \"type\": \"object\",\n            \"required\": [\n              \"value\"\n
        \           ],\n            \"properties\": {\n              \"value\": {\n
        \               \"oneOf\": [\n                  {\n                    \"type\":
        \"object\"\n                  }\n                ]\n              }\n            }\n
        \         }\n        ]\n      },\n      \"schema\": {\n        \"oneOf\":
        [\n          {\n            \"type\": \"object\"\n          }\n        ]\n
        \     }\n    }\n  }\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"inputs": {"workspace": "figi44"}}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - respond-async
    method: POST
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/processes/convert-url/execution
  response:
    body:
      string: "{\n  \"jobID\": \"c6cf91d6-9813-11ef-87ec-965c8c407056\",\n  \"type\":
        \"process\",\n  \"processID\": \"convert-url\",\n  \"created\": \"2024-11-01T05:40:18.350Z\",\n
        \ \"started\": \"2024-11-01T05:40:18.350Z\",\n  \"updated\": \"2024-11-01T05:40:18.350Z\",\n
        \ \"status\": \"running\",\n  \"message\": \"ZOO-Kernel accepted to run your
        service!\",\n  \"links\": [\n    {\n      \"title\": \"Status location\",\n
        \     \"rel\": \"monitor\",\n      \"type\": \"application/json\",\n      \"href\":
        \"https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/c6cf91d6-9813-11ef-87ec-965c8c407056\"\n
        \   }\n  ]\n}"
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      location:
      - https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/c6cf91d6-9813-11ef-87ec-965c8c407056
      preference-applied:
      - respond-async
      x-also-also-also-powered-by:
      - dru.securityOut
      x-also-also-powered-by:
      - dru.securityIn
      x-also-powered-by:
      - jwt.securityIn
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs/c6cf91d6-9813-11ef-87ec-965c8c407056
  response:
    body:
      string: '{"jobID": "c6cf91d6-9813-11ef-87ec-965c8c407056", "status": "dismissed",
        "message": "ZOO-Kernel successfully dismissed your service!", "links": [{"title":
        "The job list for the current process", "rel": "parent", "type": "application/json",
        "href": "https://test.eodatahub.org.uk/ades/figi44/ogc-api/jobs"}], "type":
        "process", "processID": "convert-url", "created": "2024-11-01T05:40:18.350Z",
        "started": "2024-11-01T05:40:18.350Z", "finished": "2024-11-01T05:40:19.081Z",
        "updated": "2024-11-01T05:40:19.046Z"}'
    headers:
    status:
      code: 200
      message: OK
version: 1
