interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/"}, {"rel":
        "alternate", "type": "text/html", "title": "this document", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/index.html"},
        {"rel": "service-desc", "type": "application/vnd.oai.openapi+json;version=3.0",
        "title": "the API definition", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/api"},
        {"rel": "service-doc", "type": "text/html", "title": "the API defin[...]
