interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/"}, {"rel":
        "alternate", "type": "text/html", "title": "this document", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/index.html"},
        {"rel": "service-desc", "type": "application/vnd.oai.openapi+json;version=3.0",
        "title": "the API definition", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/api"},
        {"rel": "service-doc", "type": "text/html", "title": "the API definition",
        "h[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/figi44/ogc-api/jobs?limit=10
  response:
    body:
      string: '{"jobs": [{"jobID": "58093494-f044-11ef-a256-ca3e8cd28499", "type":
        "process", "processID": "convert-url", "created": "2025-02-21T11:09:40.514Z",
        "started": "2025-02-21T11:09:40.514Z", "finished": "2025-02-21T11:11:09.528Z",
        "updated": "2025-02-21T11:11:08.907Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/jobs/58093494-f044-11ef-a256-ca3e8cd28499"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/figi44/ogc-api/jobs/58093494-f044-11ef-a256-ca3e8cd28499/results"},
 [...]
