interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs?limit=10
  response:
    body:
      string: '{"jobs": [{"id": "7cfb88ce-0011-11f0-9e46-925b27b1cd31", "jobID": "7cfb88ce-0011-11f0-9e46-925b27b1cd31",
        "type": "process", "processID": "convert-url", "created": "2025-03-13T13:45:56.251Z",
        "started": "2025-03-13T13:45:56.251Z", "finished": "2025-03-13T13:46:52.674Z",
        "updated": "2025-03-13T13:46:52.466Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/7cfb88ce-0011-11f0-9e46-925b27b1cd31"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/7cfb88ce-0011-11f0-9e46-925b27b1cd31/results"},
        {"href": "https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs?limit=10&skip=10&limit=10
  response:
    body:
      string: '{"jobs": [{"id": "cea9d562-0823-11f0-83c2-a6e16052765d", "jobID": "cea9d562-0823-11f0-83c2-a6e16052765d",
        "type": "process", "processID": "convert-url", "created": "2025-03-23T20:17:13.583Z",
        "started": "2025-03-23T20:17:13.583Z", "finished": "2025-03-23T20:18:13.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/user/catalogs/oxidian-test/jobs/7cfb88ce-0011-11f0-9e46-925b27b1cd31
  response:
    body:
      string: "{\n  \"id\": \"7cfb88ce-0011-11f0-9e46-925b27b1cd31\",\n  \"jobID\":
        \"7cfb88ce-0011-11f0-9e46-925b27b1cd31\",\n  \"type\": \"process\",\n  \"processID\":
        \"convert-url\",\n  \"created\": \"2025-03-13T13:45:56.251Z\",\n  \"started\":
        \"2025-03-1[...]
