interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api
  response:
    body:
      string: '{"title": "ZOO-Project with Deploy, Replace, Undeploy and CWL support",
        "links": [{"rel": "self", "type": "application/json", "title": "this document",
        "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/"}, {"rel":
        "alternate", "type": "text/html", "title": "this document", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/index.html"},
        {"rel": "service-desc", "type": "application/vnd.oai.openapi+json;version=3.0",
        "title": "the API definition", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/api"},
        {"rel": "service-doc", "type": "text/html", "title": "the API defin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs?limit=10
  response:
    body:
      string: '{"jobs": [{"jobID": "6317aba6-000f-11f0-aebf-925b27b1cd31", "type":
        "process", "processID": "convert-url", "created": "2025-03-13T13:30:53.935Z",
        "started": "2025-03-13T13:30:53.935Z", "finished": "2025-03-13T13:32:15.994Z",
        "updated": "2025-03-13T13:32:15.785Z", "status": "successful", "message":
        "ZOO-Kernel successfully run your service!", "links": [{"title": "Status location",
        "rel": "monitor", "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs/6317aba6-000f-11f0-aebf-925b27b1cd31"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs/6317aba6-000f-11f0-aebf-925b27b1cd31/results"}]}],
        "links": [{"rel": "self", "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs"}],
        "numberTotal": 1}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs/6317aba6-000f-11f0-aebf-925b27b1cd31
  response:
    body:
      string: '{"jobID": "6317aba6-000f-11f0-aebf-925b27b1cd31", "type": "process",
        "processID": "convert-url", "created": "2025-03-13T13:30:53.935Z", "started":
        "2025-03-13T13:30:53.935Z", "finished": "2025-03-13T13:32:15.994Z", "updated":
        "2025-03-13T13:32:15.785Z", "status": "successful", "message": "ZOO-Kernel
        successfully run your service!", "links": [{"title": "Status location", "rel":
        "monitor", "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs/6317aba6-000f-11f0-aebf-925b27b1cd31"},
        {"title": "Result location", "rel": "http://www.opengis.net/def/rel/ogc/1.0/results",
        "type": "application/json", "href": "https://staging.eodatahub.org.uk/ades/oxidian-test/ogc-api/jobs/6317aba6-000f-11f0-aebf-925b27b1cd31/results"}]}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
