interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v0.3.0/aggregation","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/item-search#query"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue
  response:
    body:
      string: '{"id":"ceda-stac-catalogue","description":"This is an experimental
        STAC API server.\nThe content is subject to change the and there is no guarantee
        surrounding its uptime.\n","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://stagin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts?service=WMTS&request=GetCapabilities&version=1.0.0
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n\n<Capabilities xmlns=\"http://www.opengis.net/wmts/1.0\"
        xmlns:ows=\"http://www.opengis.net/ows/1.1\" xmlns:xlink=\"http://www.w3.org/1999/xlink\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:gml=\"http://www.opengis.net/gml\"
        xsi:schemaLocation=\"http://www.opengis.net/wmts/1.0 http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd\"
        version=\"1.0.0\">\n  <ows:ServiceIdentification>\n    <ows:Title>Web Map
        Tile Service</ows:Title>\n    <ows:ServiceType>OGC WMTS</ows:ServiceType>\n
        \   <ows:ServiceTypeVersion>1.0.0</ows:ServiceTypeVersion>\n  </ows:ServiceIdentification>\n
        \ <ows:ServiceProvider>\n    <ows:ProviderName>http://staging.eodatahub.org.uk/titiler/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts</ows:ProviderName>\n
        \   <ows:ProviderSite xlink:href=\"http://staging.eodatahub.org.uk/titiler/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts\"/>\n
        \   <ows:ServiceContact>\n      <ows:IndividualName>TerraScope User</ows:IndividualName>\n
        \   </ows:ServiceContact>\n  </ows:ServiceProvider>\n  <ows:OperationsMetadata>\n
        \   <ows:Operation name=\"GetCapabilities\">\n      <ows:DCP>\n        <ows:HTTP>\n
        \         <ows:Get xlink:href=\"http://staging.eodatahub.org.uk/titiler/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts?\">\n
        \           <ows:Constraint name=\"GetEncoding\">\n              <ows:AllowedValues>\n
        \               <ows:Value>KVP</ows:Value>\n              </ows:AllowedValues>\n
        \           </ows:Constraint>\n          </ows:Get>\n        </ows:HTTP>\n
        \     </ows:DCP>\n    </ows:Operation>\n    <ows:Operation name=\"GetTile\">\n
        \     <ows:DCP>\n        <ows:HTTP>\n          <ows:Get xlink:href=\"http://staging.eodatahub.org.uk/titiler/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts?\">\n
        \           <ows:Constraint name=\"GetEncoding\">\n              <ows:AllowedValues>\n
        \               <ows:Value>KVP</ows:Value>\n              </ows:AllowedValues>\n
        \           </ows:Constraint>\n          </ows:Get>\n        </ows:HTTP>\n
        \     </ows:DCP>\n    </ows:Operation>\n    <ows:Operation name=\"GetFeatureInfo\">\n
        \     <ows:DCP>\n        <ows:HTTP>\n          <ows:Get xlink:href=\"http://staging.eodatahub.org.uk/titiler/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/wmts?\">\n
        \           <ows:Constraint name=\"GetEncoding\">\n              <ows:AllowedValues>\n
        \               <ows:Value>KVP</ows:Value>\n              </ows:AllowedValues>\n
        \           </ows:Constraint>\n          </ows:Get>\n        </ows:HTTP>\n
        \     </ows:DCP>\n    </ows:Operation>\n  </ows:OperationsMetadata>\n  <Contents>\n
        \ \n    <Layer>\n      <ows:Title>sentinel2_ard_rgb</ows:Title>\n      <ows:WGS84BoundingBox>\n
        \       <ows:LowerCorner>-9.00034454651177 49.48562028352171</ows:LowerCorner>\n
        \       <ows:UpperCorner>3.1494256015866995 61.33444247301668</ows:UpperCorner>\n
        \     </ows:WGS84BoundingBox>\n      <ows:Identifier>sentinel2_ard_rgb</ows:Identifier>\n
        \     <Style isDefault=\"true\">\n        <ows:Title>default</ows:Title>\n
        \       <ows:Identifier>default</ows:Identifier>\n      </Style>\n      \n
        \       <Format>image/png</Format>\n      \n      <Dimension>\n      \n        <ows:Identifier>TIME</ows:Identifier>\n
        \       <Default>2025-01-20</Default>\n        \n        <Value>2022-01-02</Value>\n
        \       \n        <Value>2022-01-03</Value>\n        \n        <Value>2022-01-04</Value>\n
        \       \n        <Value>2022-01-05</Value>\n        \n        <Value>2022-01-06</Value>\n
        \       \n        <Value>2022-01-07</Value>\n        \n        <Value>2022-01-08</Value>\n
        \       \n        <Value>2022-01-09</Value>\n        \n        <Value>2022-01-10</Value>\n
        \       \n        <Value>2022-01-11</Value>\n        \n        <Value>2022-[...]
