interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/workspaces/oxidian-test/pin-sets
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "pyeodh-test-pin-set", "description": "", "visibility": "workspace",
      "items": []}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://staging.eodatahub.org.uk/api/workspaces/oxidian-test/pin-sets
  response:
    body:
      string: '{"id":"cf78d817-d7fc-4705-b267-90933474c232","workspace":"oxidian-test","name":"pyeodh-test-pin-set","description":"","visibility":"workspace","createdBy":"oxidian-test","createdAt":"2026-10-07T15:44:00.396587Z","updatedAt":"2026-10-07T15:44:00.396587Z","itemCount":0,"items":[]}

        '
    headers:
      Content-Type:
      - application/json
      location:
      - /api/workspaces/oxidian-test/pin-sets/cf78d817-d7fc-4705-b267-90933474c232
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: DELETE
    uri: https://staging.eodatahub.org.uk/api/workspaces/oxidian-test/pin-sets/cf78d817-d7fc-4705-b267-90933474c232
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/workspaces/oxidian-test/pin-sets
  response:
    body:
      string: '[]

        '
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
