interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"EO DataHub Catalogue","description":"The
        Earth Observation Data Hub STAC Catalogue","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v0.3.0/aggregation","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue
  response:
    body:
      string: '{"id":"ceda-stac-catalogue","description":"This is an experimental
        STAC API server.\nThe content is subject to change the and there is no guarantee
        surrounding its uptime.\n","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections
  response:
    body:
      string: "{\"collections\":[{\"id\":\"wcrp\",\"description\":\"A group of experiments
        have been conducted using the Met Office Unified Model (MetUM) with a focus
        on the DYAMOND-3 period (Jan 2020-Feb 2021). While these experiments include
        standalone explicit convection global simulations we have also developed a
        cyclic tropical channel and include limited area model simulations to build
        our understanding of how resolving smaller-scale processes feeds back on to
        the large-scale atmospheric circulation.\",\"stac_version\":\"1.0.0\",\"links\":[{\"rel\":\"items\",\"type\":\"application/geo+json\",\"href\":\"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/wcrp/items\"},{\"rel\":\"parent\",\"type\":\"application/json\",\"href\":\"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue\"},{\"rel\":\"root\",\"type\":\"application/json\",\"href\":\"https://staging.eodatahub.org.uk/api/catalogue/stac/\"},{\"rel\":\"self\",\"type\":\"application/json\",\"href\":\"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/wcrp\"},{\"href\":\"https://api.stac.ceda.ac.uk/string\",\"rel\":\"string\",\"type\":\"image/tiff;
        application=geotiff\",\"title\":\"string\",\"label:assets\":\"string\",\"additionalProp1\":{}}],\"stac_extensions\":[],\"title\":\"WCRP
        UK Node STAC Index\",\"type\":\"Collection\",\"assets\":{\"thumbnail\":{\"href\":\"https://hackathon-o.s3-ext.jc.rl.ac.uk/dwest77-test-0603/Example_airtemp.png\",\"type\":\"image/png\",\"roles\":[\"thumbnail\"]}},\"license\":\"string\",\"extent\":{\"spatial\":{\"bbox\":[[-180,-90,180,90]]},\"temporal\":{\"interval\":[[\"2020-01-01T00:00:00Z\",\"2021-03-01T00:00:00Z\"]]}},\"keywords\":[\"HealPix\",\"MetOffice\",\"Km-Scale\"],\"providers\":[],\"summaries\":{}},{\"id\":\"ukcp\",\"description\":\"Regional
        climate model projections produced as part of the UK Climate Projection 2018
        (UKCP18) project. The data produced by the Met Office Hadley Centre provides
        information on changes in climate for the UK until 2080, downscaled to a high
        resolution (12km), helping to inform adaptation to a changing climate. The
        projections cover Europe and a 100 year period, 1981-2080, for a high emissions
        scenario, RCP8.5.[...]
