interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"EO DataHub Catalogue","description":"The
        Earth Observation Data Hub STAC Catalogue","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","https://api.stacspec.org/v1.0.0/core","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v0.3.0/aggregation","https://api.stacspec.org/v1.0.0-rc.1/collection-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue
  response:
    body:
      string: '{"id":"ceda-stac-catalogue","description":"This is an experimental
        STAC API server.\nThe content is subject to change the and there is no guarantee
        surrounding its uptime.\n","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections
  response:
    body:
      string: "{\"collections\":[{\"id\":\"ukcp\",\"description\":\"Regional climate
        model projections produced as part of the UK Climate Projection 2018 (UKCP18)
        project. The data produced by the Met Office Hadley Centre provides information
        on changes in climate for the UK until 2080, downscaled to a high resolution
        (12km), helping to inform adaptation to a changing climate. The projections
        cover Europe and a 100 year period, 1981-2080, for a high emissions scenario,
        RCP8.5. Ea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections?token=WyJlb2Npcy1sc3QtczNhLW5pZ2h0Il0%3D
  response:
    body:
      string: '{"collections":[{"id":"eocis-lst-s3a-day","description":"This collection
        contains datasets of level L3C global land surface temperature from the SLSTR
        sensor on board Sentinel 3A observed daily during daytime.   The collection
        is available from 2016-05-01.","stac_version":"1.0.0","links":[{"rel":"items","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/eocis-lst-s3a-day/items"},{"rel":"parent","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/eocis-lst-s3a-day"},{"href":"https://staging.eodatahub.org.uk/api/catalogue/stac/licences/spdx/text/CC-BY-4.0.txt","rel":"license","type":"text/plain"},{"href":"https://staging.eodatahub.org.uk/api/catalogue/stac/licences/spdx/html/CC-BY-4.0.html","rel":"license","type":"text/html"}],"stac_extensions":["https://stac-extensions.github.io/datacube/v2.2.0/schema.json","https://stac-extensions.github.io/scientific/v1.0.0/schema.json"],"title":"EOCIS
        Land Surface Temperature from Sentinel 3A daily (day)","type":"Collection","assets":{"thumbnail":{"href":"https://eocis.org/data/eocis-lst-s3a-day-kerchunk/2024/12/EOCIS_-LST-L3C-LST-SLSTRA-0.01deg_1DAILY_DAY-20241231000000-fv4.00.png","type":"image/png","roles":["thumbnail"]}},"license":"cc-by-4.0","extent":{"spatial":{"bbox":[[-179.9949951171875,-89.99500274658203,179.9949951171875,89.99498748779297]]},"temporal":{"interval":[["2016-05-01T00:00:00Z","2024-12-31T00:00:00Z"]]}},"keywords":["Earth
        Science","Land Surface","Land Temperature","Land Surface Temperature","Global","Sentinel","ESA","EOCIS","Satellite","Imagery","Thermal"],"providers":[{"name":"University
        of Leicester Surface Temperature Group","roles":["producer"],"url":"https://le.ac.uk/physics/research/earth-observation-science/remote-sensing-of-land-surface"},{"name":"Earth
        Observation Climate Information Service (EOCIS)","roles":["producer"],"url":"https://eocis.org"},{"name":"Centre
        for Environmental Data Analysis (CEDA)","roles":["host"],"url":"https://ceda.ac.uk"}],"summaries":{},"cube:dimensions":{"lon":{"type":"spatial","axis":"x","extent":[-180,180],"reference_system":4326,"unit":"degrees_east"},"lat":{"type":"spatial","axis":"y","extent":[-90,90],"reference_system":4326,"unit":"degrees_north"},"time":{"type":"temporal","step":"P1D","extent":["2016-05-01T00:00:00Z","2024-12-31T00:00:00Z"]}},"cube:variables":{"lst":{"description":"land
        surface temperature","dimensions":["time","lat","lon"],"type":"data","unit":"kelvin"},"lst_uncertainty":{"description":"land
        surface temperature total uncertainty","dimensions":["time","lat","lon"],"type":"data","unit":"kelvin"},"ndvi":{"description":"normalized
        difference vegetation index","dimensions":["time","lat","lon"],"type":"data","unit":"1"},"emis":{"description":"surface
        emissivity","dimensions":["time","lat","lon"],"type":"data","unit":"1"},"n":{"description":"number
        of clear-sky pixels","dimensions":["time","lat","lon"],"type":"auxiliary"},"ncld":{"description":"number
        of cloudy pixels","dimensions":["time","lat","lon"],"type":"auxiliary"}}},{"id":"eocis-chuk-land-vegetation-lai","description":"Leaf
        area index (LAI) are produced from April 2018 to December 2024. These data
        were produced by the LEAF toolbox (see documentation) from data acquired from
        the Multispectral Imager (MSI) on Sentinel-2. Gap-filled data are available
        for 100m spatial resolution at a 15-day temporal resolution.  The data must[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections?token=WyJlb2Npcy1hZXJvc29sLXNsc3RyLW1vbnRobHktczNhIl0%3D
  response:
    body:
      string: '{"collections":[{"id":"eocis-aerosol-slstr-daily-s3b","description":"This
        dataset contains the level-3 daily mean aerosol properties products from Sentinel-3B
        SLSTR satellite observations. Data are processed using the[...]
