interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0-rc.1/core","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","/discovery-search","/catalogues","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0-rc.2/item-search#context"],"links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://test.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://test.eodatahub.org.uk/api/catalogue/stac/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://test.eodatahub.org.uk/api/catalogue/stac/search","method":"POST"},{"rel":"child","type":"application/json","title":"Supported
        Datasets","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets"},{"rel":"child","type":"application/json","title":"User
        Datasets","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/user-datasets"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://test.eodatahub.org.uk/api/catalogue/stac/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://test.eodatahub.org.uk/api/catalogue/stac/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v2.0.0/schema.json","https://stac-extensions.github.io/projection/v2.0.0/schema.json"],"id":"neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb","collection":"sentinel2_ard","geometry":{"type":"Polygon","coordinates":[[[-4.411913863371429,50.54373233188457],[-2.862230244232387,50.552210622261306],[-2.865029497377984,49.56467629785398],[-4.383237267143897,49.55648784343155],[-4.411913863371429,50.54373233188457]]]},"bbox":[-4.411913863371429,49.55648784343155,-2.862230244232387,50.552210622261306],"properties":{"datetime":"2023-11-20T11:23:51Z","updated":"2025-01-07T15:12:25.339406Z","start_datetime":"2023-11-20T11:23:51Z","end_datetime":"2023-11-20T11:23:51Z","proj:code":"EPSG:27700","esa_file_name":"S2A_MSIL1C_20231120T112351_N0509_R037_T30UVA_20231120T132420","Instrument
        Family Name":"Multi-Spectral Instrument","Instrument Family Name Abbreviation":"MSI","Platform
        Number":"2A","NSSDC Identifier":"2015-000A","Start Relative Orbit Number":"037","Start
        Orbit Number":"043935","Ground Tracking Direction":"descending","Instrument
        Mode":null,"eo:cloud_cover":"16.555794439965","Product Type":"S2MSI1C","Datatake
        Type":"INS-NOBS","data_path":"/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref.tif","proj:shape":[11122,11137],"proj:transform":[10.0,0.0,227650.0,0.0,-10.0,74340.0,0.0,0.0,1.0],"instance_id":"neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb","created":"2024-11-04T18:00:59.670266Z"},"links":[{"rel":"self","type":"application/geo+json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2023.11.20.S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/sentinel2_ard"},{"rel":"collection","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/sentinel2_ard"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue"}],"assets":{"cloud":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_clouds.tif","roles":["data"],"size":3176671,"location":"on_disk"},"cloud_probability":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_clouds_prob.tif","roles":["data"],"size":85321081,"location":"on_disk"},"cog":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref.tif","roles":["data"],"size":1654201489,"location":"on_disk","eo:bands":[{"eo:central_wavelength":496.6,"eo:common_name":"blue","description":"Blue","eo:
        full_width_half_max":0.07,"name":"B02"},{"eo:central_wavelength":560,"eo:common_name":"green","description":"Green","eo:
        full_width_half_max":0.04,"name":"B03"},{"eo:central_wavelength":664.5,"eo:common_name":"red","description":"Red","eo:
        full_width_half_max":0.03,"name":"B04"},{"eo:central_wavelength":703.9,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B05"},{"eo:central_wavelength":740.2,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B06"},{"eo:central_wavelength":782.5,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B07"},{"eo:central_wavelength":835.1,"eo:common_name":"nir","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.11,"name":"B08"},{"eo:central_wavelength":864.8,"eo:common_name":"nir08","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B08a"},{"eo:central_wavelength":1613.7,"eo:common_name":"swir16","description":"Short
        Wave Infrared","eo: full_width_half_max":0.09,"name":"B11"},{"eo:central_wavelength":2202.4,"eo:common_name":"swir22","description":"Short
        Wave Infrared","eo: full_width_half_max":0.18,"name":"B12"}]},"metadata":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_meta.xml","roles":["metadata"],"size":18456,"location":"on_disk"},"saturated_pixels":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_sat.tif","roles":["data"],"size":1774631,"location":"on_disk"},"thumbnail":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg","roles":["thumbnail"],"size":107055,"location":"on_disk"},"topographic_shadow":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_toposhad.tif","roles":["data"],"size":477447,"location":"on_disk"},"valid_pixels":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2023/11/20/S2A_20231120_latn501lonw0036_T30UVA_ORB037_20231120132420_utm30n_osgb_valid.tif","roles":["data"],"size":308983,"location":"on_disk"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
