interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v0.3.0/aggregation","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0-rc.1/collection-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","https://api.stacspec.org/v1.0.0/collections"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue
  response:
    body:
      string: '{"id":"ceda-stac-catalogue","description":"This is an experimental
        STAC API server.\nThe content is subject to change the and there is no guarantee
        surrounding its uptime.\n","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://stagin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/collections/cmip6
  response:
    body:
      string: '{"id":"cmip6","description":"CMIP6","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/collections/cmip6/aggregate"},{"rel":"aggr[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/item-search#fields","http[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/collections/cmip6/items?limit=10
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/cmip6/v1.0.0/schema.json"],"id":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","collection":"cmip6","geometry":{"type":"Polygon","coordinates":[[[-180.0,-90.0],[178.75,-90.0],[178.75,90.0],[-180.0,90.0],[-180.0,-90.0]]]},"bbox":[-180.0,-90.0,178.75,90.0],"properties":{"title":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","datetime":"4072-01-01T00:00:00Z","created":"2025-01-24T14:29:23.741213Z","updated":"2025-01-24T14:29:23.741213Z","start_datetime":"4029-01-16T12:00:00Z","end_datetime":"4114-12-16T12:00:00Z","product":"model-output","project":"CMIP6","model_cohort":"Registered","realm":["atmos"],"cmip6:access":["HTTPServer"],"cmip6:retracted":false,"cmip6:citation_url":"http://cera-www.dkrz.de/WDCC/meta/CMIP6/CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806.json","cmip6:variable_long_name":"Surface
        Upwelling Shortwave Radiation","cmip6:variable_units":"W m-2","cmip6:cf_standard_name":"surface_upwelling_shortwave_flux_in_air","cmip6:activity_id":"ScenarioMIP","cmip6:data_specs_version":"01.00.29","cmip6:experiment_title":"update
        of RCP8.5 based[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/catalogs/ceda-stac-catalogue/collections/cmip6/items/CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/cmip6/v1.0.0/schema.json"],"id":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","co[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://dap.ceda.ac.uk/badc/cmip6/metadata/kerchunk/pipeline1/ScenarioMIP/THU/CIESM/kr1.0/CMIP6_ScenarioMIP_THU_CIESM_ssp585_r1i1p1f1_Amon_rsus_gr_v20200806_kr1.0.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      ETag:
      - '"65d361a0-4bf93"'
      Last-Modified:
      - Mon, 19 Feb 2024 14:11:44 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://dap.ceda.ac.uk/badc/cmip6/metadata/kerchunk/pipeline1/ScenarioMIP/THU/CIESM/kr1.0/CMIP6_ScenarioMIP_THU_CIESM_ssp585_r1i1p1f1_Amon_rsus_gr_v20200806_kr1.0.json
  response:
    body:
      string: '{"version": 1, "refs": {".zgroup": "{\"zarr_format\":2}", ".zattrs":
        "{\"Conventions\":\"CF-1.7 CMIP-6.2\",\"activity_id\":\"ScenarioMIP\",\"branch_method\":\"standard\",\"branch_time_in_child\":735110.0,\"branch_time_in_parent\":735110.0,\"cmor_version\":\"3.6.0\",\"contact\":\"yanluan@tsinghua.edu.cn\",\"creation_date\":\"2020-07-22T10:30:50Z\",\"data_specs_version\":\"01.00.29\",\"experiment\":\"update
        of RCP8.5 based on SSP5\",\"experiment_id\":\"ssp585\",\"external_variables\":\"areacella\",\"forcing_index\":1,\"frequency\":\"mon\",\"further_info_url\":\"https:\\/\\/furtherinfo.es-doc.org\\/CMIP6.THU.CIESM.ssp585.none.r1i1p1f1\",\"grid\":\"gs1x1\",\"grid_label\":\"gr\",\"history\":\"2020-07-22T10:30:17Z
        ;rewrote data to be consistent with ScenarioMIP for variable rlus found in
        table Amon.;\\nOutput from CIESM\",\"initialization_index\":1,\"institution\":\"Department
        of Earth System Science, Tsinghua University, Beijing 100084, China\",\"institution_id\":\"THU\",\"license\":\"CMIP6
        model data produced by Department of Earth System Science, Tsinghua University
        is licensed under a Creative Commons Attribution ShareAlike 4.0 International
        License (https:\\/\\/creativecommons.org\\/licenses). Consult https:\\/\\/pcmdi.llnl.gov\\/CMIP6\\/TermsOfUse
        for terms of use governing CMIP6 output, including citation requirements and
        proper acknowledgment. Further information about this data, including some
        limitations, can be found via the further_info_url (recorded as a global attribute
        in this file). The data producers and data providers make no warranty, either
        express or implied, including, but not limited to, warranties of merchantability
        and fitness for a particular purpose. All liabilities arising from the supply
        of the information (including any liability arising in negligence) are excluded
        to the fullest extent permitted by law.\",\"mip_era\":\"CMIP6\",\"nominal_resolution\":\"100
        km\",\"parent_activity_id\":\"CMIP\",\"parent_experiment_id\":\"historical\",\"parent_mip_era\":\"CMIP6\",\"parent_source_id\":\"CIESM\",\"parent_time_units\":\"days
        since 0001-01-01\",\"parent_variant_label\":\"r1i1p1f1\",\"physics_index\":1,\"product\":\"model-output\",\"realization_index\":1,\"realm\":\"atmos\",\"run_variant\":\"1rd
        realization\",\"source\":\"CIESM (2019): \\naerosol: prescribed MACv2-SP\\natmos:
        CIESM-AM1.0 (Modified CAM5; 1 degree spectral element; 48602 cells; 30 levels;
        top level 2.255 hPa)\\natmosChem: none\\nland: CIESM-LM1.0 (Modified CLM4.0)\\nlandIce:
        none\\nocean: CIESM-OM1.0 (Modified POP2; 320 x 384 longitude\\/latitude;
        60 levels; top grid cell 0-10 m)\\nocnBgchem: none\\nseaIce: CICE4\",\"source_id\":\"CIESM\",\"source_type\":\"AOGCM\",\"sub_experiment\":\"none\",\"sub_experiment_id\":\"none\",\"table_id\":\"Amon\",\"table_info\":\"Creation
        Date:(20 February 2019) MD5:510997cd0a2c38131ae713cdf8560209\",\"title\":\"CIESM
        output prepared for CMIP6\",\"tracking_id\":\"hdl:21.14100\\/26602daf-2379-491b-ad98-2ebb2f581db7\",\"variable_id\":\"rsus\",\"variant_label\":\"r1i1p1f1\"}",
        "lat/.zarray": "{\"chunks\":[192],\"compressor\":null,\"dtype\":\"<f8\",\"fill_value\":null,\"filters\":null,\"order\":\"C\",\"shape\":[192],\"zarr_format\":2}",
        "lat/.zattrs": "{\"_ARRAY_DIMENSIONS\":[\"lat\"],\"axis\":\"Y\",\"bounds\":\"lat_bnds\",\"long_name\":\"latitude\",\"standard_name\":\"latitude\",\"units\":\"degrees_north\"}",
        "lat/0": ["https://dap.ceda.ac.uk/badc/cmip6/data/CMIP6/ScenarioMIP/THU/CIESM/ssp585/r1i1p1f1/Amon/rsus/gr/v20200806/rsus_Amon_CIESM_ssp585_r1i1p1f1_gr_402901-411412.nc",
        39592, 1536], "lat_bnds/.zarray": "{\"chunks\":[192,2],\"compressor\":{\"id\":\"zlib\",\"level\":1},\"dtype\":\"<f8\",\"fill_value\":null,\"filters\":null,\"order\":\"C\",\"shape\":[192,2],\"zarr_format\":2}",
        "lat_bnds/.zattrs": "{\"_ARRAY_DIMENSIONS\":[\"lat\",\"bnds\"]}", "lat_bnds/0.0":
        ["https://dap.ceda.ac.uk/badc/cmip6/data/CMIP6/ScenarioMIP/THU/CIESM/ssp585/r1i1p1f1/Amon/rsus/gr/v20200806/rsus_Amon_CIESM_ssp585_r1i1p1f1_gr_402901-411412.nc",
        163698767, 1126], "lon/.zarray": "{\"chunks\":[288],\"compressor\":null,\"dtype\":\"<f8\",\"fill_value\":null,\"filters[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://dap.ceda.ac.uk/badc/cmip6/metadata/kerchunk/pipeline1/ScenarioMIP/THU/CIESM/kr1.0/CMIP6_ScenarioMIP_THU_CIESM_ssp585_r1i1p1f1_Amon_rsus_gr_v20200806_kr1.0.json
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"65d361a0-4bf93"'
      Last-Modified:
      - Mon, 19 Feb 2024 14:11:44 GMT
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-311186
    method: GET
    uri: https://dap.ceda.ac.uk/badc/cmip6/metadata/kerchunk/pipeline1/ScenarioMIP/THU/CIESM/kr1.0/CMIP6_ScenarioMIP_THU_CIESM_ssp585_r1i1p1f1_Amon_rsus_gr_v20200806_kr1.0.json
  response:
    body:
      string: '{"version": 1, "refs": {".zgroup": "{\"zarr_format\":2}", ".zattrs":
        "{\"Conventions\":\"CF-1.7 CMIP-6.2\",\"activity_id\":\"ScenarioMIP\",\"branch_method\":\"standard\",\"branch_time_in_child\":735110.0,\"branch_time_in_parent\":735110.0[...]
