interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0-rc.1/core","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","/discovery-search","/catalogues","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0-rc.2/item-search#context"],"links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://test.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://test.eodatahub.org.uk/api/catalogue/stac/search","method":"GET"},{"rel":"search","type":"application/geo+json","title":"STAC
        search","href":"https://test.eodatahub.org.uk/api/catalogue/stac/search","method":"POST"},{"rel":"child","type":"application/json","title":"Supported
        Datasets","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets"},{"rel":"child","type":"application/json","title":"User
        Datasets","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/user-datasets"},{"rel":"service-desc","type":"application/vnd.oai.openapi+json;version=3.0","title":"OpenAPI
        service description","href":"https://test.eodatahub.org.uk/api/catalogue/stac/api"},{"rel":"service-doc","type":"text/html","title":"OpenAPI
        service documentation","href":"https://test.eodatahub.org.uk/api/catalogue/stac/api.html"}],"stac_extensions":[]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue
  response:
    body:
      string: '{"type":"Catalog","stac_version":"1.0.0","stac_extensions":[],"id":"ceda-stac-catalogue","title":"CEDA
        STAC API","description":"This is an experimental STAC API server.\nThe content
        is subject to change the and there is no guarantee surrounding its uptime.\n","links":[{"rel":"self","ty[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections
  response:
    body:
      string: '{"collections":[{"type":"Collection","stac_version":"1.0.0","stac_extensions":[],"id":"ukcp","title":"UKCP","description":"UKCP","links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/ukcp"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue"},{"rel":"items","type":"application/geo+json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/ukcp/items"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue"},{"rel":"aggregate","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-catalogue/collections/ukcp/aggregate"},{"rel":"aggregations","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-catalogue/collections/ukcp/aggregations"},{"rel":"queryables","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-catalogue/collections/ukcp/queryables"}],"keywords":[],"license":"OGL-UK-3.0","providers":[],"extent":{"spatial":{"bbox":[[-12.773760091513395,49.313714699819684,3.4064378030598164,60.526678590103984]]},"temporal":{"interval":[["2060-12-01T12:00:00.000Z","2080-11-30T12:00:00.000Z"]]}},"summaries":{"Conventions":["CF-1.7"],"references":["https://ukclimateprojections.metoffice.gov.uk"],"variable_long_name":["Cloud
        area fraction"],"dataset_id":["ukcp.land-cpm.uk.5km.rcp85.01.clt.day.v20210615"],"variable_units":["%"],"project":["UKCP18"],"cf_standard_name":["cloud_area_fraction"],"collection":["land-cpm"],"resolution":["5km"],"version":["v20210615"],"frequency":["day"],"institution":["Met
        Office Hadley Centre (MOHC), FitzRoy Road, Exeter, Devon, EX1 3PB, UK."],"scenario":["rcp85"],"domain":["uk"],"kerchunk_url":["https://kerchunk.ceda.ac.uk/ukcp.land-cpm.uk.5km.rcp85.01.clt.day.v20210615.json"],"var_id":["clt"]},"assets":{}},{"type":"Collection","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/render/v1.0.0/schema.json"],"id":"sentinel2_ard","title":"sentinel
        2 ARD","description":"sentinel 2 ARD","links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-catalogue/collections/sentinel2_ard"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/cata[...]
