interactions:
- request:
    body: null
    headers:
      Authorization:
      - Bearer None
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"stac-fastapi-elasticsearch","description":"A
        STAC FastAPI with an Elasticsearch backend","stac_version":"1.0.0","conformsTo":["http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","https://api.stacspec.org/v1.0.0/item-search#sort","/catalogues","https://api.stacspec.org/v1.0.0/ogcapi-features","/discovery-search","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","https://api.stacspec.org/v1.0.0-rc.2/item-search#context","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text","https://api.stacspec.org/v1.0.0-rc.1/collection-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-rc.1/core","https://api.stacspec.org/v1.0.0/core","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0/item-search#query"],"links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://test.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"application/geo+jso[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer None
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi
  response:
    body:
      string: '{"type":"Catalog","stac_version":"1.0.0","stac_extensions":[],"id":"ceda-stac-fastapi","title":"Supported
        Datasets","description":"Catalogue containing supported datasets","links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer None
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6
  response:
    body:
      string: '{"type":"Collection","stac_version":"1.0.0","stac_extensions":[],"id":"cmip6","title":"CMIP6","description":"CMIP6","links":[{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi"},{"rel":"items","type":"application/geo+json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6/items"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi"},{"rel":"aggregate","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-fastapi/cmip6/aggregate"},{"rel":"aggregations","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-fastapi/cmip6/aggregations"},{"rel":"queryables","type":"application/json","href":"https://test.eodatahub.org.uk/ceda-stac-fastapi/cmip6/queryables"}],"keywords":[],"license":"cmip6","providers":[],"extent":{"spatial":{"bbox":[[-180.0,-90.0,179.99999991618097,89.99999995809048]]},"temporal":{"interval":[["1850-01-01T00:00:00.000Z","4114-12-16T12:00:00.000Z"]]}},"summaries":{"experiment_title":["SSP-based
        RCP scenario with high radiative forcing by the end of century. Following
        approximately RCP8.5 global forcing pathway with SSP5 socioeconomic conditions.
        Concentration-driven.","SSP-based RCP scenario with medium radiative forcing
        by the end of the century.  Following approximately RCP4.5 global forcing
        pathway with SSP2 socioeconomic conditions. Radiative forcing reaches a level
        of 4.5 W/m2 in 2100. Concentration-driven.","Simulation of recent past (1850
        to 2014). Impose changing conditions (consistent with observations). Should
        be initialised from a point early enough in the pre-industrial control run
        to ensure that the end of all the perturbed runs branching from the end of
        this historical run end before the end of the control. Only one ensemble member
        is requested but modelling groups are strongly encouraged to submit at least
        three ensemble members of their CMIP historical simulation. ","all-forcing
        simulation of the recent past","all-forcing simulation of the recent past                                                                               ","historical","low-end
        scenario reaching 1.9 W m-2, based on SSP1","update of RCP2.6 based on SSP1","update
        of RCP4.5 based on SSP2","update of RCP8.5 based on SSP5"],"data_specs_version":["01.00.21","01.00.23","01.00.27","01.00.28","01.00.29","01.00.30","01.00.31","01.00.32","01.00.33"],"variable_units":["%","1","K","Pa","W
        m-2","kg m-2","kg m-2 s-1","m s-1"],"table_id":["3hr","Amon","CF3hr","E3hr","day"],"institution_id":["AS-RCEC","AWI","BCC","CAMS","CAS","CCCR-IITM","CCCma","CMCC","CNRM-CERFACS","CSIRO","CSIRO-ARCCSS","DKRZ","E3SM-Project","EC-Earth-Consortium","FIO-QLNM","HAMMOZ-Consortium","INM","IPSL","KIOST","MIROC","MOHC","MPI-M","MRI","NASA-GISS","NCAR","NCC","NIMS-KMA","NOAA-GFDL","NUIST","SNU","THU","UA"],"frequency":["3hr","3hrPt","day","mon","monC"],"variant_label":["r1i1000p1f2","r1i1p1f1","r1i1p1f2","r1i1p1f3","r1i1p2f1"],"variable_id":["clt","hurs","huss","pr","prsn","psl","rlds","rlus","rsds","rss","rsus","sfcWind","snw","tas","tasmax","tasmin","uas","vas"],"activity_id":["CMIP","ScenarioMIP"],"var_id":[],"sub_experiment_id":["none"],"mip_era":["CMIP6"],"physics_index":[],"experiment_id":["historical","ssp119","ssp126","ssp245","ssp585"],"variable_long_name":["Daily
        Maximum Near-Surface Air Temperature","Daily Minimum Near-Surface Air Temperature","Daily-Mean
        Near-Surface Wind Speed","Eastward Near-Surface Wind","Eastward Near-Surface
        Wind                            ","Eastward Near-Surface Wind Speed","Near-Surface
        Air Temperature","Near-Surface Air Temperature                          ","Near-Surface
        Relative Humidity","Near-Surface Relative Humidity                        ","Near-Surface
        Specific Humidity","Near-Surface Specific Humidity                        ","Near-Surface
        Wind Speed","Net Shortwave Surface Radiation","Northward Near-Surface Wind","Northward
        Near-Surface Wind                           ","Northward Near-Surface Wind
        Speed","Precipitation","Precipitation                                         ","Sea
        Level Pressure","Sea Level Pressure                                    ","Snowfall
        Flux","Snowfall Flux                                         ","Surface Downwelling
        Longwave Radiation","Surface Downwelling Shortwave Radiation","Surface Snow
        Amount","Surface Upwelling Longwave Radiation","Surface Upwelling Shortwave
        Radiation","Total Cloud Cover Percentage","Total Cloud Fraction"],"source_type":["AER
        AOGCM CHEM","AER CHEM BGC","AGCM","AOGCM","AOGCM AER","AOGCM AER BGC","AOGCM
        AER BGC CHEM","AOGCM AER CHEM","AOGCM AER CHEM BGC","AOGCM BGC","AOGCM BGC
        AER","AOGCM BGC AER CHEM","AOGCM BGC CHEM AER"],"cf_standard_name":["air_pressure_at_mean_sea_level","air_pressure_at_sea_level","air_temperature","cloud_area_fraction","eastward_wind","northward_wind","precipitation_flux","relative_humidity","snowfall_flux","specific_humidity","surface_downwelling_longwave_flux_in_air","surface_downwelling_shortwave_flux_in_air","surface_net_downward_shortwave_flux","surface_snow_amount","surface_upwelling_longwave_flux_in_air","surface_upwelling_shortwave_flux_in_air","wind_speed"],"version":[],"realization_index":[],"instance_id":["CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.clt.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.huss.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.pr.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.prsn.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.rlds.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.rlus.gn.v20201013","CMIP6.CMIP.AS-RCEC.TaiESM1.historical.r1i1p1f1.3hr.rsds.gn.v20201013","CMIP[...]
[...]
- request:
    body: null
    headers:
      Authorization:
      - Bearer None
    method: GET
    uri: https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6/items?limit=1
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":[],"id":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","collection":"cmip6","geometry":{"type":"Polygon","coordinates":[[[-180.0,-90.0],[178.75,-90.0],[178.75,90.0],[-180.0,90.0],[-180.0,-90.0]]]},"bbox":[-180.0,-90.0,178.75,90.0],"properties":{"datetime":"4072-01-01T00:00:00Z","start_datetime":"4029-01-16T12:00:00Z","end_datetime":"4114-12-16T12:00:00Z","access":["HTTPServer"],"index_node":null,"latest":true,"pid":null,"replica":false,"retracted":false,"instance_id":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","citation_url":"http:/cera-www.dkrz.de/WDCC/meta/CMIP6/CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806.json","variable_long_name":"Surface
        Upwelling Shortwave Radiation","variable_units":"W m-2","cf_standard_name":"surface_upwelling_shortwave_flux_in_air","activity_id":"ScenarioMIP","data_specs_version":"01.00.29","experiment_title":"update
        of RCP8.5 based on SSP5","frequency":"mon","further_info_url":"https://furtherinfo.es-doc.org/CMIP6.THU.CIESM.ssp585.none.r1i1p1f1","grid":"gs1x1","grid_label":"gr","institution_id":"THU","mip_era":"CMIP6","source_id":"CIESM","source_type":"AOGCM","experiment_id":"ssp585","sub_experiment_id":"none","nominal_resolution":"100
        km","table_id":"Amon","variable_id":"rsus","variant_label":"r1i1p1f1","levels":null,"updated":"2024-08-08T14:32:55.886637Z","created":"2024-02-20T20:41:36.951308Z"},"links":[{"rel":"self","type":"application/geo+json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6/items/CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806"},{"rel":"parent","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6"},{"rel":"collection","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi"}],"assets":{"reference_file":{"checksum":null,"checksum_type":null,"href":"https://dap.ceda.ac.uk/badc/cmip6/metadata/kerchunk/pipeline1/ScenarioMIP/THU/CIESM/kr1.0/CMIP6_ScenarioMIP_THU_CIESM_ssp585_r1i1p1f1_Amon_rsus_gr_v20200806_kr1.0.json","roles":["reference","data"],"size":null,"type":"application/zstd","open_zarr_kwargs":{"decode_times":true}},"data0001":{"href":"https://dap.ceda.ac.uk/badc/cmip6/data/CMIP6/ScenarioMIP/THU/CIESM/ssp585/r1i1p1f1/Amon/rsus/gr/v20200806/rsus_Amon_CIESM_ssp585_r1i1p1f1_gr_402901-411412.nc","roles":["data"],"checksum":null,"checksum_type":null,"type":"application/netcdf","time":"4029-01-01T00:00:00/4114-12-31T23:59:59","area":[-180.0,-90.0,178.75,90.0]}}}],"links":[{"rel":"next","type":"application/json","method":"GET","href":"https://test.eodatahub.org.uk/api/catalogue/stac/catalogs/supported-datasets/ceda-stac-fastapi/collections/cmip6/items?limit=1&token=NjYzMzI3MzYwMDAwMDAsQ01JUDYuU2NlbmFyaW9NSVAuVEhVLkNJRVNNLnNzcDU4NS5yMWkxcDFmMS5BbW9uLnJzdXMuZ3IudjIwMjAwODA2LGNtaXA2"},{"rel":"root","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"self","type":"application/json","href":"https://test.eodatahub.org.uk/api/catalogue/stac/"}],"context":{"returned":1,"limit":1,"matched":6235}}'
    headers:
      Content-Type:
      - application/geo+json
    status:
      code: 200
      message: OK
version: 1
