interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"EO DataHub Catalogue","description":"The
        Earth Observation Data Hub STAC Catalogue","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/item-search","https://api.stacspec.org/v1.0.0/ogcapi-features","https://api.stacspec.org/v1.0.0/collections","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0/core","https://api.stacspec.org/v0.3.0/aggregation","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0/item-search#fields","https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","https://api.stacspec.org/v1.0.0/item-search#query","https://api.stacspec.org/v1.0.0/item-search#sort","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2025.04.11.S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb
  response:
    body:
      string: '{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/eo/v2.0.0/schema.json","https://stac-extensions.github.io/projection/v2.0.0/schema.json"],"id":"neodc.sentinel_ard.data.sentinel_2.2025.04.11.S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb","collection":"sentinel2_ard","geometry":{"type":"Polygon","coordinates":[[[-2.45995092782685,57.73836648129129],[-2.508174807066527,57.66907719956324],[-2.606578196085748,57.52738246142495],[-2.704797049648801,57.38572219795828],[-2.800774870179367,57.2435715544916],[-2.896769323527301,57.10152836263331],[-2.993558670335834,56.95980716256073],[-3.00032882929965,56.949517381504286],[-3.000335946660149,57.74229815282701],[-2.45995092782685,57.73836648129129]]]},"bbox":[-3.000335946660149,56.949517381504286,-2.45995092782685,57.74229815282701],"properties":{"datetime":"2025-04-11T11:44:01Z","created":"2025-04-16T12:32:00.895340Z","updated":"2025-04-16T12:32:00.895340Z","start_datetime":"2025-04-11T11:44:01Z","end_datetime":"2025-04-11T11:44:01Z","Instrument
        Family Name":"Multi-Spectral Instrument","proj:code":"EPSG:27700","Platform
        Number":"2A","eo:cloud_cover":75.180788647837,"Product Type":"S2MSI1C","Datatake
        Type":"INS-NOBS","Instrument Family Name Abbreviation":["msi"],"NSSDC Identifier":"2015-028A","Start
        Relative Orbit Number":123,"Start Orbit Number":51200,"Ground Tracking Direction":"descending","proj:shape":[11141,11141],"proj:transform":[10.0,0.0,338930.0,0.0,-10.0,872950.0,0.0,0.0,1.0]},"links":[{"rel":"self","type":"application/geo+json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/sentinel2_ard/items/neodc.sentinel_ard.data.sentinel_2.2025.04.11.S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb"},{"rel":"parent","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/sentinel2_ard"},{"rel":"collection","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/sentinel2_ard"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"}],"assets":{"cloud":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_clouds.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":361710,"location":"on_disk"},"cloud_probability":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_clouds_prob.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":5476084,"location":"on_disk"},"cog":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":233328826,"location":"on_disk","eo:bands":[{"eo:central_wavelength":496.6,"eo:common_name":"blue","description":"Blue","eo:
        full_width_half_max":0.07,"name":"B02"},{"eo:central_wavelength":560,"eo:common_name":"green","description":"Green","eo:
        full_width_half_max":0.04,"name":"B03"},{"eo:central_wavelength":664.5,"eo:common_name":"red","description":"Red","eo:
        full_width_half_max":0.03,"name":"B04"},{"eo:central_wavelength":703.9,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B05"},{"eo:central_wavelength":740.2,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B06"},{"eo:central_wavelength":782.5,"eo:common_name":"rededge","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B07"},{"eo:central_wavelength":835.1,"eo:common_name":"nir","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.11,"name":"B08"},{"eo:central_wavelength":864.8,"eo:common_name":"nir08","description":"Visible
        and Near Infrared","eo: full_width_half_max":0.02,"name":"B08a"},{"eo:central_wavelength":1613.7,"eo:common_name":"swir16","description":"Short
        Wave Infrared","eo: full_width_half_max":0.09,"name":"B11"},{"eo:central_wavelength":2202.4,"eo:common_name":"swir22","description":"Short
        Wave Infrared","eo: full_width_half_max":0.18,"name":"B12"}]},"metadata":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_meta.xml","type":"application/xml","roles":["metadata"],"size":18455,"location":"on_disk"},"saturated_pixels":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_sat.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":1774631,"location":"on_disk"},"thumbnail":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_vmsk_sharp_rad_srefdem_stdsref_thumbnail.jpg","type":"image/jpeg","roles":["thumbnail"],"size":13606,"location":"on_disk"},"topographic_shadow":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_toposhad.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":216413,"location":"on_disk"},"valid_pixels":{"href":"https://dap.ceda.ac.uk/neodc/sentinel_ard/data/sentinel_2/2025/04/11/S2A_20250411_latn572lonw0021_T30VWJ_ORB123_20250411183553_utm30n_osgb_valid.tif","type":"image/tiff;
        application=geotiff","roles":["data"],"size":283578,"location":"on_disk"}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
