interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"EO DataHub Catalogue","description":"The
        Earth Observation Data Hub STAC Catalogue","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v1.0.0-rc.2/item-search#filter","https://api.stacspec.org/v1.0.0/ogcapi-features","http://www.opengis.net/spec/cql2/1.0/conf/advanced-comparison-operators","https://api.stacspec.org/v1.0.0/item-search","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","https://api.stacspec.org/v1.0.0-rc.1/collection-search#free-text","https://api.stacspec.org/v1.0.0/item-search#sort","http://www.opengis.net/spec/ogcapi-common-2/1.0/conf/simple-query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core","https://api.stacspec.org/v1.0.0/collections","https://api.stacspec.org/v0.3.0/aggregation","https://api.stacspec.org/v1.0.0/item-search#query","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojson","https://api.stacspec.org/v1.0.0-rc.1/item-search#free-text","http://www.opengis.net/spec/cql2/1.0/conf/cql2-json","https://api.stacspec.org/v1.0.0-rc.1/collection-search","https://api.stacspec.org/v1.0.0-rc.1/ogcapi-features#free-text","http://www.opengis.net/spec/cql2/1.0/conf/basic-cql2","https://api.stacspec.org/v1.0.0/item-search#fields","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/filter","https://api.stacspec.org/v1.0.0/core","http://www.opengis.net/spec/ogcapi-features-3/1.0/conf/features-filter","http://www.opengis.net/spec/cql2/1.0/conf/cql2-text"],"links":[{"rel":"self","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"root","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/"},{"rel":"data","type":"application/json","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/collections"},{"rel":"conformance","type":"application/json","title":"STAC/WFS3
        conformance classes implemented by this server","href":"https://staging.eodatahub.org.uk/api/catalogue/stac/conformance"},{"rel":"search","type":"applica[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue
  response:
    body:
      string: '{"id":"ceda-stac-catalogue","description":"This is an experimental
        STAC API server.\nThe content is subject to change the and there is no guarantee
        surrounding its uptime.\n","stac_version":"1.0.0","links":[{"rel":"aggregate","type":"application/json","href":"https://staging.eodatahub.[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/cmip6
  response:
    body:
      string: '{"id":"cmip6","description":"The WCRP Coupled Model Intercomparison
        Project, Phase 6 (CMIP6), is a global climate model intercomparison project,
        coordinated by PCMDI (Program For Climate Model Diagnosis and Intercomparison)
        on behalf of the World Climate Resea[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/
  response:
    body:
      string: '{"type":"Catalog","id":"stac-fastapi","title":"EO DataHub Catalogue","description":"The
        Earth Observation Data Hub STAC Catalogue","stac_version":"1.0.0","conformsTo":["https://api.stacspec.org/v0.3.0/aggregation","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/oas30","http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/geojs[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/cmip6/items?limit=10
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["https://stac-extensions.github.io/cmip6/v1.0.0/schema.json"],"id":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","collection":"cmip6","geometry":{"type":"Polygon","coordinates":[[[-180.0,-90.0],[178.75,-90.0],[178.75,90.0],[-180.0,90.0],[-180.0,-90.0]]]},"bbox":[-180.0,-90.0,178.75,90.0],"properties":{"title":"CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806","datetime":"4072-01-01T00:00:00Z","created":"2025-01-24T14:29:23.741213Z","updated":"2025-01-24T14:29:23.741213Z","start_datetime":"4029-01-16T12:00:00Z","end_datetime":"4114-12-16T12:00:00Z","product":"model-output","project":"CMIP6","model_cohort":"Registered","realm":["atmos"],"cmip6:access":["HTTPServer"],"cmip6:retracted":false,"cmip6:citation_url":"http://cera-www.dkrz.de/WDCC/meta/CMIP6/CMIP6.ScenarioMIP.THU.CIESM.ssp585.r1i1p1f1.Amon.rsus.gr.v20200806.json","cmip6:variable_long_name":"Surface
        Upwelling Shortwave Radiation","cmip6:variable_units":"W m-2","cmip6:cf_standard_name":"surface_upwelling_shortwave_flux_in_air","cmip6:activity_id":"ScenarioMIP","cmip6:data_specs_version":"01.00.29","cmip6:experiment_title":"update
        of RCP8.5 based[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://staging.eodatahub.org.uk/api/catalogue/stac/catalogs/public/catalogs/ceda-stac-catalogue/collections/cmip6/items?limit=10&token=Wzg4Njc0OTEyMDAwMDAsICJDTUlQNi5TY2VuYXJpb01JUC5DU0lSTy1BUkNDU1MuQUNDRVNTLUNNMi5zc3A1ODUucjFpMXAxZjEuZGF5LnBzbC5nbi52MjAyMTAzMTciLCAiY21pcDYiXQ%3D%3D&limit=10
  response:
    body:
      string: '{"type":"FeatureCollection","features":[{"type":"Feature","stac_version":"1.0.0","stac_extensions":["http[...]
